.personnelTable {
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

tbody tr td.selected {
  background-color: #000;
}

tr.highlighted td {
  transition-duration: 0.7s;
  background-color: #0e6883;
  color: #fff;
}

.personnelTable th {
  position: sticky;
  top: 0;
  background-color: #175466;
  text-align: center;
  padding: 17px 0px 17px 0px;
  color: #fff;
}

.personnelTable td {
  padding: 10px 0px 10px 0px;
}

.personnelTable td:first-child {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #e2e2e2;
}

.center {
  text-align: center;
}

.textIndent {
  text-indent: 5px;
}

.iconSet {
  font-size: 18px;
}

.fa-user-edit {
  margin-right: 10px;
  color: #1cc10f;
}

.blue {
  color: #175466;
}

.fa-check {
  text-align: start;
}

.fa-user-times {

  color: #d02523;
}

.fas {
  transition: transform 0.5s;
}

.fas:hover {
  transform: scale(1.5);
}

.fa-icon:hover {
  transform: scale(1);
}