.iconSet {
  font-size: 18px;
}

.fa-user-edit {
  margin-right: 10px;
  color: #1cc10f;
}

.fa-check {
  text-align: start;
}

.fa-user-times {
  color: #d02523;
}

.fas {
  transition: transform 0.5s;
}

.fas:hover {
  transform: scale(1.5);
}

.fa-icon:hover {
  transform: scale(1);
}

.user-list-title {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #175466;
  color: white;
  align-items: center;
  font-weight: bold;
}

.user-list-title span {
  padding: 20px 0;
  border-right: 1px solid #c2c2c2;
  text-align: center;
}

.user-list-title span:last-child {
  border-right: none;
}

.user-list-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-indent: 10px;
}

.user-list-content span {
  padding: 10px 0;
  border-right: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.user-list-content span:last-child {
  text-align: center;
}
