form .field-group {
  display: flex;
  margin: 0 0 24px 0;
}

form .field-group .label {
  flex: 1;
  margin: 0px 19px 0px 18px;
  font-family: sans-serif;
  color: #fff;
  background-color: #2d343d;
  width: 85px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px 8px 10px;
  box-shadow: 0px 0px 7px 2px #fff;
}

form .field-group .field {
  flex: 3;
}

form .field-group:last-child {
  display: flex;
  justify-content: flex-end;
}

form .field-group:last-child .field {
  max-width: 75%;
}

.form-input {
  border: 1px solid #000;
  height: 29px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  transition-duration: 0.5s;
  border-radius: 4px;
  text-indent: 2px;
  outline: 0;
  width: 317px;
}


.form-input:hover {
  background-color: #abb2b9;
  border: 1px solid #fff;
  cursor: default;
}

.form-input:focus {
  background-color: #abb2b9;
  border: 1px solid #fff;
  cursor: default;
}


.form {
  border: 1px #1b1b1b solid !important;
  background-color: #0f1830;
  border-radius: 9px;
  width: 500px;
  box-shadow: 0px 0px 10px 1px #f5f5f5;
  height: 420px;
}

.container {
  display: flex;
  justify-content: center;
  background: url(../../img/hr.png);
  background-size: contain;
  padding: 70px 0px 26px 0px;
  background-attachment: fixed;
}


.oop {
  position: absolute;
  top: -41px;
  left: 175px;
  font-family: sans-serif;
  font-size: 21px;
  color: #020202;
  text-shadow: 0px 0px 3px #f5f5f5, 0px 0px 8px #f5f5f5, 0px 0px 9px #f5f5f5;
}


.container-form-name {
  position: relative;
  display: flex;
  justify-content: center;
}

.form-name {
  position: absolute;
  margin-top: 19px;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 0px 0px 3px #f5f5f5, 0px 0px 8px #f5f5f5, 0px 0px 9px #f5f5f5;
}

.form-button {
  position: relative;
  width: 109px;
  border: none;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  padding: 8px 21px 8px 21px;
  cursor: default;
}

.form-button:focus {
  outline: 0
}

.addButton {
  background-color: #23881b;
  transition-duration: 0.5s;
  margin-right: 9px;

}

.container-form-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 38px;
  margin-top: 28px;
}

.addButton:hover {
  background-color: #1c651a;
  box-shadow: 0px 0px 8px 1px #fff;
  border: none;
}


.clearButton {
  background-color: #d02523;
  transition-duration: 0.5s;
  margin-right: -15px;
}


.field-container {
  position: relative;
  top: 15px;
  left: -3px;
}

.clearButton:hover {
  background-color: #a71b1a;
  box-shadow: 0px 0px 8px 1px #fff;
  border: none;
  outline: 0;

}